<h1> <%= current_user.name %>'s Children </h1>

<table>
  <tr>
    <th>Name</th>
    <th>Birthday</th>
  </tr>

     <% @child.each do |child| %>

    <tr>
      <td><%= link_to child.name, child_path(child) %></td>
      <td><%= child.birthday %></td>
      <td><%= link_to 'Select', child_path(child) %></td>

    </tr>
  <% end %>
</table>

