<div class="container-fluid">

  <div class="row title">
    <div class="col-md-12">
      <p class="text-center"><%= current_user.name %>'s Children </p>
    </div>
  </div>

  <p class="text-center"> Click on a name to add a first! </p>

  <table class="table-bordered table-hover col-centered">
    <tr>
      <th>Name</th>
      <th>Birthday</th>
    </tr>

       <% @child.each do |child| %>

      <tr>
        <td><%= link_to child.name, child_path(child) %></td>
        <td><%= child.birthday.strftime("%m/%d/%Y") %></td>
      </tr>
    <% end %>
  </table>

  <br>

  <p class="text-center"> <%= link_to 'Add A Child', new_child_path %> </p>


</div>
