/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


/* font-family: 'Sacramento', cursive;
// font-family: 'Crafty Girls', cursive;
// font-family: 'Delius', cursive;
// font-family: 'Love Ya Like A Sister', cursive;
// font-family: 'Open Sans', sans-serif;
*/

body {
  /*padding-top: 70px;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

table th, td {
  padding: 5px;
}

.head-font{
  font-family: 'Love Ya Like A Sister', cursive;
}

.navbar-brand {
  font-family: 'Love Ya Like A Sister', cursive;
}

.navbar {
  font-size: 14px;
}

.title {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 60px;
}

.jumbo-font {
  font-family: 'Love Ya Like A Sister', cursive;
}

.jumbotron {
  position: relative;
  background: #000 url("shoes.jpg") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

.col-centered {
  margin: 0 auto;
}

.row-head-color {
  background: #E0FFE2;
}

.post-table {
  font-size: 14px;
}

.post-form {
  width: 300px;
  margin: 0 auto;
}

.sign-up-form {
  width: 320px;
  margin: 0 auto;
}
/*.edit-user-form {
  width: 280px ;
  margin-left: auto ;
  margin-right: auto ;
}
 Try to get the up/down arrows to display on tables
.nice th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.nice th .asc {
  background-image: url(/imanges/up_arrow.png);
}

.nice th .dsc {
  background-image: url(/imanges/dn_arrow.png);
}
*/
